# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

# Logs
*.log

# Docker-related files
*.pid
*.tar
*.db

# Model files
models/

# VS Code settings
.vscode/
venv/
myirtualenv/
myvirtualenv/
.DS_Store
.zshrc
